#save-smart:hover, #ignore-smart:hover {
  cursor: pointer;
}

#save-smart {
  background-color: #effaf5;
  color: #257953;
  border-bottom-right-radius: inherit;
}

#ignore-smart {
  background-color: #feecf0;
  color: #cc0f35;
  border-bottom-left-radius: inherit;
}

.invisible_div {
  /* visibility: hidden; */
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 40px !important;
  min-height: 40px !important;
  z-index: 1000;
}

.invisible_div:hover {
  cursor: pointer;
} 

#smart-container .modal-content{
  top: -1500px;
  transition: top ease-in;
  transition-duration: 300ms;
}

#smart-container .card-content {
  padding: 30px;
  text-align: justify;
}